<div class="container">
  <div class="row rowHeader">
    <div (click)= "getResult($event)" id="puerta1" class="col-md-2 puerta" style="border: solid 2px red; height:300px; margin: 5px;">puerta 1</div>
    <div (click)= "getResult($event)" id="puerta2" class="col-md-2 puerta" style="border: solid 2px red; height:300px; margin: 5px;">puerta 2</div>
    <div (click)= "getResult($event)" id="puerta3" class="col-md-2 puerta" style="border: solid 2px red; height:300px; margin: 5px;">puerta 3</div>
    <div (click)= "getResult($event)" id="puerta4"class="col-md-2 puerta" style="border: solid 2px red; height:300px; margin: 5px;">puerta 4</div>
    <div (click)= "getResult($event)" id="puerta5" class="col-md-2 puerta" style="border: solid 2px red; height:300px; margin: 5px;">puerta 5</div>
  </div>
</div>
